.report-content {
    .header-block {
        margin-bottom: 15px;
    }    
    .main-content__header {
        margin-bottom: 20px;
        .title {
            &:before {
                content: '\f0f6';
            }
        }
    }
    .action-block {
        margin-bottom: 15px;
    }
    .task-num-block {
        border-top: 1px #d7d7d7 solid;
        padding-top: 15px;
        h6 {
            font-weight: 400;
            font-size: 1.4rem;
            margin-bottom: 15px;
            padding: 0 15px;
        }
    }
}