.report-content {
    .header-block {
        margin-bottom: 15px;
    }    
    .main-content__header {
        margin-bottom: 20px;
        .title {
            &:before {
                content: '\f0f6';
            }
        }
    }
    
    .table-list {
        position: relative;
        .right-side {

            .table-container {
                float: left;
            }
        }
    
    }
    .table-container {
        border-right: 1px red solid;
    }
}