.avatar-config {
  .avatar-config-display {
    img {
      height: 200px;
      margin-left: 33%;
      border-radius: 50%;
    }
    a {
      color: #ff1b32;
      text-align: center;
    }
    button {
      align-self: right;
    }
  }
}