.avatar-config {
  margin-bottom: 16px;
  margin-top: 6px;
  &__wrapper {
    position: relative;
    .tooltip {
      right: 50%;
      transform: $translateX;
      margin-right: -20px;
      top: 55px;
    }
    .btn-remove {
      position: absolute;
      transform: $translateXY;
      top: 50%;
      left: 50%;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      font-size: 1.6rem;
      line-height: 3.4rem;
      color: $color-white;
      background: #e84b4b;
      cursor: pointer;
      transition: background $transition300;
      &:hover {
        background: $red
      }
    }
    button {
      align-self: right;
    }
  }
}