button {
  margin: 15px 15px 15px 0;
}

.queryButtonDelete {
  color: white;
  background-color: #f5222d;
}

.rule {
  display: flex;
  border-radius: 3px;
  color: #9E9E9E;
  background: white;
	margin: 1rem;
	padding: 0.5rem;
  max-width: 95%;
  -webkit-animation: fade 1s;
  animation: fade 1s;
  opacity: 1;
}

.rule .queryButtonDelete {
  margin: 0;
  flex-grow: 0;
  height: 35px;
  line-height: 10px;
}

.rule > * {
  margin-left: 0.5rem;
  width: auto;
  flex-grow: 1;
}

.condition {
	margin: 2rem;
	padding: 1rem;
  border-radius: 3px;
  color: #9E9E9E;
  background: white;
  border-left: 3px solid #b6b6b6;
  width: 95%;
  -webkit-animation: fade 1s;
  animation: fade 1s;
  opacity: 1;
}

.dateSelect {
  width:100px !important;
}

.querySelect {
  background: none;
  flex-grow: 2;
}

.querySelect:focus {
  border-bottom-color: #3f51b5;
}

.queryInput {
}

.queryInput:focus {
  border-color: #3f51b5;
}

.queryText {
}
