//Add custom font here
@font-face {
	font-family: 'Arial';
    src: url('#{$font-path}/arial.eot');
    src: url('#{$font-path}/arial.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/arial.woff2') format('woff2'),
         url('#{$font-path}/arial.woff') format('woff'),
         url('#{$font-path}/arial.ttf') format('truetype'),
         url('#{$font-path}/arial.svg#arial') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('#{$font-path}/arialbd.eot');
    src: url('#{$font-path}/arialbd?#iefix') format('embedded-opentype'),
         url('#{$font-path}/arialbd.woff2') format('woff2'),
         url('#{$font-path}/arialbd.woff') format('woff'),
         url('#{$font-path}/arialbd.ttf') format('truetype'),
         url('#{$font-path}/arialbd.svg#arialbd') format('svg');
    font-weight: 700;
    font-style: normal;
}
