//containers
.cc-container {

}


//colors
.cc-color-main {
  color: $color-main;
}


//link
a {
  &.cc-link-underline {
    text-decoration: underline;
  }
}

//text
.cc-text {

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }

  &--color-secondary {
    color: $color-text-secondary;
  }
}

//list
.cc-custom-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

//background-colors
.cc-bg-color {
  &--main {
    background-color: $color-main;
    color: $color-white;
  }

  &--light {
    background-color: $color-main-light;
  }

  &--dark {
    background-color: $color-main-dark;
    color: $color-white;
  }

  &--accent {
    background-color: $color-accent;
    color: $color-white;
  }
}

//react datepicker
.react-datepicker {
  font-size: 1.1rem !important;
}

.flex {
  &--column {
    flex-direction: column;
  }

  &--helper {
    display: flex;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &-align--start {
    align-items: flex-start;
  }

  &-align--end {
    align-items: flex-end;
  }

  &-align--center {
    align-items: center;
  }

  &-justify--end {
    justify-content: flex-end;
  }

  &-justify--space-between {
    justify-content: space-between;
  }

  &-justify--center {
    justify-content: center;
  }
}

.p-r--35 {
  padding-right: 35px!important;
}