.left-menu {
  width: 280px;
  transition: width $transition300;
  flex-shrink: 0;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 90vh;

  &.collapsed {
    width: 60px;
    .menu__item > a {
      padding-left: 30px;
      span {
        opacity: 0;
      }
    }
    .btn-collapse i {
      transform: rotate(180deg);
    }
    .badge {
      transform: translate(21px,-15px);
    }
  }
  &__wrapper {
    list-style: none;
  }
  .menu__item {
    border-bottom: 1px solid #ccc;

    &.cc--active {

      > a {
        background: $color-white;
        color: $dark-grey;
        font-weight: bold;

        &:hover {
          background: $color-white;
        }
        i {
          color: $green;
        }
      }
    }

    > a {
      height: 34px;
      display: block;
      white-space: nowrap;
      position: relative;
      font-size: 1.6rem;
      padding: 7px 15px 8px 50px;
      color: $light-grey;
      border-radius: 3px;
      transition: padding-left $transition300,
                  background 300ms cubic-bezier(.08, .52, .52, 1),
                  color 300ms cubic-bezier(.08, .52, .52, 1);
      i {
        color: $extra-light-grey;
      }
      span {
        transition: opacity $transition300;
        opacity: 1;
      }
      &:hover {
        background: #f2f2f2;
        color: $dark-grey;
        i {
          color: $green;
        }
      }
    }
    .menu__icon {
      position: absolute;
      left: 13px;
      top: 8px;
      width: 20px;
      height: 18px;
      line-height: 18px;
      text-align: center;
    }
  }
  .btn-collapse {
    cursor: pointer;
    font-size: 2rem;
    padding: 10px;
    background: #f2f2f2;
    color: $extra-light-grey;
    border-radius: 3px;
    margin-top: 10px;
    &:hover {
      background: $color-white;
      color: $green;
    }
    i {
      display: block;
      transform: rotate(0);
      transition: transform $transition100;
    }
  }
}
