
.page-container {
  width: calc(100% - 280px);
  overflow-y: auto;
}

.display-none {
  display: none;
}

.p-20 {
  padding: 20px;
}

.m-20 {
  margin: 20px;
}

.m-t-30 {
  margin-top: 30px;
}

.column {
  max-width: 450px;
  margin: 0 auto !important;
}

.m-t-p-15 {
  margin-top: 15%;
}

.grey-background {
  background-color: #DADADA;
  width: 100%;
  height: 100%;
}

.width-p90 {
  width: 90%;
}

.no-data-found {
  font-size: 18px;
  color: darkgray;
}

.main-section {
  display: flex;
  height: calc(100% - 80px);
}

//Badges
.badge {
  //yooooo
  position: absolute;
  transform: translate(0);
  right: 15px;
  top: 9px;
  font-size: 1.1rem;
  line-height: 1.7rem;
  background: #f5222d;
  color: $color-white;
  border-radius: 10px;
  padding: 0 4px;
  min-width: 16px;
  height: 16px;
  transition: transform $transition300;
}

// Labels
.label {
  padding: 1px 3px;
  color: $color-white;
  border-radius: 3px;
  font-size: 1.2rem;
  display: inline-block;
}

.label--green {
  background: $light-green;
}

.label--grey {
  background: #c2c2c2;
}

// Flex Height Block
.flex-content {
  min-height: 100%;
  border-radius: 3px;
  background: $color-white;
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

// Main Container
.cc-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  > .left__side {
    width: 520px;
    flex-shrink: 0;
    transition: width $transition300;
    &.full__width {
      width: 100%;
    }
  }
  > .right__side {
    width: calc(100% - 520px);
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    opacity: 0;
    transition: opacity 100ms ease;
    &.in {
      opacity: 1;
    }
  }
}

// Filter Bar
.filter-bar {
  background: $color-white;
  padding: 15px;
  border-bottom: 1px #e1e1e1 solid;
  .select-action {
    &:first-of-type {
      margin-bottom: 15px;
      z-index: 2;
    }
  }
  .select-form {
    position: relative;
    &:before {
      content: '\f107';
      font-family: $font-icon;
      position: absolute;
      top: 9px;
      right: 15px;
      color: $extra-light-grey;
    }
    &:first-of-type {
      margin-bottom: 15px;
    }
    select {
      background: #f2f1f1;
      border-bottom: 0;
      border-radius: 3px;
      color: $light-grey;
      padding: 9px 15px 10px;
      line-height: 1.6rem;
      option {
        padding-top: 4px;
        padding-bottom: 5px;
      }
    }
  }
}

// Search Bar
.search-bar {
  background: $color-white;
  padding: 10px;
  padding-right: 3px;
  padding-bottom: 10px;
  box-shadow: 0px 1px 3px 0px #ebe7e7;
  border-bottom: 1px #e1e1e1 solid;
  position: relative;
  .search-bar__wrapper {
    display: flex;
    position: relative;
    justify-content: flex-end;
    height: 35px;
  }
  .search-input {
    width: calc(100% - 174px);
    transition: width $transition300;
    &.full__width {
      width: calc(100% - 91px);
    }
  }
  .select-type {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 8px;
    cursor: pointer;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 10px;
    z-index: 1;
    background: $color-white;
    border-radius: 3px;
    &.open {
      box-shadow: 0px 1px 10px 0 #d6d6d6
    }
    .dropdown {
      min-width: 80px;
      &__wrapper {
        padding-top: 10px;
        padding-bottom: 10px;
        list-style: none;
        margin-left: -10px;
        margin-right: -10px;
      }
      li {
        margin-left: -5px;
        margin-right: -5px;
        a {
          padding: 6px 15px;
          color: $light-grey;
          display: block;
          line-height: 1.4rem;
          &:hover {
            background: #f2f1f1;
          }
        }
      }
    }
    .btn-toggle-dropdown {
      position: absolute;
      color: $extra-light-grey;
      top: 4px;
      left: 35px;
      line-height: 1.4rem;
      padding: 5px;
    }
    .btn-select {
      width: 16px;
      height: 16px;
      border: 1px $extra-light-grey solid;
      border-radius: 3px;
      background: $color-white;
      position: relative;
      &.active {
        &:before {
          content: '-';
          position: absolute;
          top: -6px;
          left: 3px;
          font-size: 2.4rem;
          line-height: 2.2rem;
        }
      }
    }
  }
  .btn-group {
    padding-right: 9px;
    opacity: 0;
    transition: opacity $transition300;
    &.in {
      opacity: 1;
    }
    button {
      padding: 8px 11px;
      color: $extra-light-grey;
      font-size: 1.6rem;
      line-height: 1.4rem;
    }
  }
  .filter-block {
    position: relative;
    &.active {
      button {
        color: $green;
      }
      &:before {
        content: ' ';
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #e1e1e1;
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: $translateX;
      }
    }
    button {
      padding: 8px 15px;
      font-size: 1.6rem;
      color: $extra-light-grey;
    }
  }
  .form-group {
    input {
      background: #f2f1f1;
      border: 0;
      padding: 7px 15px;
      line-height: 1.4rem;
      font-family: $font-arial, $font-icon;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #8e8d8d;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #8e8d8d;
      opacity: 1;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: #8e8d8d;
    }
  }
}

// Main Content
.main-content {
  .header-block {
    background: $color-white;
    border-radius: 3px;
    padding: 25px 15px;
    margin-bottom: 35px;
    .main-info {
      display: flex;
      border-bottom: 1px #ebebeb solid;
    }
  }
  .main-content__header {
    .title {
      font-size: 2.4rem;
      padding-left: 30px;
      position: relative;
      &:before {
        font-family: $font-icon;
        position: absolute;
        top: -3px;
        left: 0;
        font-size: 2.4rem;
        color: $extra-light-grey;
      }
    }
    .plasment-block {
      display: flex;
      margin-top: 20px;
      flex-shrink: 0;
      .time {
        margin-left: 5px;
      }
    }
    .row__header {
      &:first-of-type {
        border-bottom: 1px #ebebeb solid;
        padding-bottom: 15px;
        .text-light-grey {
          padding-left: 30px;
        }
      }
      &:nth-of-type(2) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
      }
    }
    .btn-group {
      button {
        margin-top: 20px;
        &:nth-of-type(2) {
          margin-left: 15px;
        }
      }
    }
  }
  .left__side {
    width: 65%;
    .name {
      font-size: 2.4rem;
      line-height: 2.4rem;
      margin-bottom: 10px;
    }
    .row__block {
      display: flex;
      flex-wrap: wrap;
      margin-left: -15px;
    }
    .pacient-id {
      margin-left: 15px;
      margin-bottom: 20px;
    }
    .financial-class {
      margin-left: 15px;
      margin-bottom: 20px;
    }
    .location {
      margin-left: 15px;
      margin-bottom: 20px;
    }
    .label-group {
      margin-left: 15px;
      margin-bottom: 20px;
    }
  }
  .right__side {
    width: 35%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    .price-col {
      text-align: right;
      margin-bottom: 20px;
      padding-left: 40px;
      .price {
        font-size: 2.4rem;
        position: relative;
        margin-bottom: 7px;
        &:before {
          content: '\f155';
          font-family: $font-icon;
          color: $light-green;
          margin-right: 10px;
        }
      }
    }
  }
  .additional-info {
    margin-top: 20px;
    > ul {
      list-style: none;
      display: flex;
      overflow-y: hidden;
      overflow-x: auto;
      justify-content: space-between;
      li {
        display: table;
        padding-right: 15px;
        padding-left: 15px;
        position: relative;
        min-width: 20%;
        &:last-of-type {
          &:before {
            display: none;
          }
        }
        &:before {
          content: ' ';
          position: absolute;
          right: -1px;
          width: 1px;
          background: #ebebeb;
          height: 26px;
          top: 50%;
          transform: $translateY;
        }
        > div {
          &:first-of-type {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  .description-block {
    background: $color-white;
    padding: 10px 15px;
    border-radius: 3px;
    p {
      line-height: 2rem;
      word-wrap: break-word;
    }
  }
}