input[type=submit],
input[type=reset],
button,
.cc-button {
  display: inline-block;
  position: relative;
  border: none;
  outline: none;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  user-select: none;
  line-height: inherit;
  font-family: $font-arial;
  background: transparent;
  font-size: 1.4rem;
  padding: 12px 20px;
  border-radius: 3px;
  color: $color-white;

  &:after,
  &:before {
    content: "";
    background-color: rgba(black, 0.06);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms linear;
  }

  &:hover {
    cursor: pointer;
    text-decoration: none;

    &:before {
      transition-duration: 85ms;
      opacity: 0.6;
    }
  }

  &:active {
    outline: none;

    &:after {
      transition-duration: 85ms;
      opacity: 0.6;
    }
  }

  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &.btn--red {
    background: $orange;
  }

  &.btn--pink {
    background: $pink;
  }

  &.btn--green {
    background: $green;
  }

  &.btn--blue {
    background: $light-blue;
  }

  &.btn--light-blue {
    background: #6dcff6;
  }

  &.btn-text--blue {
    color: $blue;
  }

  &.btn-text--red {
    color: $red;
  }

  &.btn--white {
    background: $color-white;
    border: 1px #e1e1e1 solid;
    color: $dark-grey;
    transition: background $transition300;
    &:hover {
      background: #ebeaea;
    }
  }

  &.btn-post {
    background: #f3f2f2;
    color: $light-grey;
    border: 1px #e1e1e1 solid;
  }
  
  &.btn-download {
    color: rgba($color-white, 0.4);
    margin-left: 2px;
    padding-left: 30px;
    padding-right: 30px;
    span {
      position: relative;
      padding-left: 25px;
      &:before {
        content: '\f019';
        font-family: $font-icon;
        position: absolute;
        top: 2px;
        left: 0;
        color: $blue;
      }
    }
  }

}

.cc-button {
  &--raised {
    box-shadow: $shadow-dp2;
    will-change: box-shadow;
    transition: box-shadow 280ms $animation-standard-curve;

    &:active {
      box-shadow: $shadow-dp8;
    }
  }

  &--bg-main{
    background-color: $color-main;
    color: $color-white;
  }

  &--bg-dark{
    background-color: $color-main-dark;
    color: $color-white;
  }

  &--bg-white {
    background-color: $color-white;
    color: $color-text;
  }

  &--bg-accent {
    background-color: $color-accent;
    color: $color-white;
  }

  &--bg-error {
    background-color: $color-error;
    color: $color-white;
  }
}