.section-action {
  height: 100%;
}

.action-content {
  background: $color-white;
  border-radius: 3px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  
  .main-content__wrapper {
    width: 100%;
  }

  i {
    font-size: 7.2rem;
    color: $extra-light-grey;
    margin-bottom: 50px;
    display: block;
  }

  .action-name {
    font-size: 2.4rem;
    margin-top: 10px;
  }

  .intro-block {
    margin-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;

    &__wrapper {
      padding-bottom: 20px;
      border-bottom: 1px #ebebeb solid;
    }
  }

  .info-block {
    display: flex;
    margin-bottom: 40px;
    flex-wrap: wrap;
    line-height: 2rem;

    p {
      margin-bottom: 0;
      white-space: pre-wrap;
      word-wrap: break-word;
      word-break: break-word;
    }

    .text-block {
      display: flex;
      width: 100%;
      margin-bottom: 10px;

      .text-label {
        width: 30%;
        text-align: right;
        padding-right: 10px;
      }
    }
  }

  .btn-edit {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.action-block {
  .insurance-block {
    margin-top: 25px;
  }

  .add-insurance-item {
    margin: 20px 0;
  }
}

.action {
  &-dropdown {
    position: relative;
    padding-top: 16px;

    &__btn {
      background: #f3f3f2;
      width: 25px;
      height: 25px;
      border-radius: 3px;
      text-align: center;
      font-size: 1.8rem;
      color: $light-grey;
      line-height: 2.5rem;
      cursor: pointer;

      &:hover {
        background: #ebe9e9;
      }
    }

    &__container {
      position: absolute;
      right: -5px;
      top: 55px;
      background: $color-white;
      border-radius: 3px;
      box-shadow: 0 1px 4px rgba(0,0,0,0.25);
      white-space: nowrap;
      z-index: 2;
    }
  }

  &-list {
    list-style: none;
  }

  &-item {
    &:first-of-type {
      > a {
        border-radius: 3px 3px 0 0;
      }
    }

    &:last-of-type {
      border-top: 1px #e1e1e1 solid;

      > a {
        border-radius: 0 0 3px 3px;
      }
    }

    > a {
      padding: 10px 15px;
      user-select: none;

      &:hover {
        background: $light-grey;
        color: $color-white;
      }
    }
  }

  &-caret {
    position: absolute;
    top: -10px;
    right: 8px;
    width: 18px;
    height: 10px;
    overflow: hidden;

    &__outer, &__inner {
      position: absolute;
      display: inline-block;
      margin-left: -1px;
    }

    &__outer {
      border-bottom: 10px solid rgba(0,0,0,0.1);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      height: auto;
      left: 0;
      top: 0;
      width: auto;
    }

    &__inner {
      top: 1px;
      left: 1px;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 9px solid $color-white;
    }
  }
}