.facility-content {
  .breadcrumb {
    margin-bottom: 15px;
    ul {
      list-style: none;
      li {
        display: inline-block;
        margin-right: 15px;
      }
      a {
        color: #767474;
        padding-right: 15px;
        position: relative;
        &:before {
          content: '\f105';
          font-family: $font-icon;
          position: absolute;
          right: 0;
          top: 0;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .header-block {
    padding: 15px;

    .btn-group {
      button {
        margin-left: 15px;
        flex-grow: 1;
      }
    }
  }
  .main-content__header {
    .row__header {
      padding-right: 10px;
      .row__wrapper {
        max-width: 50%;
      }
      .title {
        padding-left: 15px;
      }
      .btn-edit {
        margin-top: 17px;
      }
    }
    .row__info {
      list-style: none;

      &:first-of-type {
        padding-bottom: 15px;
        flex-wrap: wrap;

        li {
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 15px;
          flex-grow: 1;
          flex-basis: 20%;
          > div {
            white-space: nowrap;
          }
        }
      }
      &.additionl-info {
        li {
          margin-top: 15px;
          flex-grow: 1;
          flex-basis: 200px;
        }
      }
      .info-label {
        margin-top: 5px;
      }
      li {
        flex-grow: 1
      }
    }
  }
  .upload-list {
    background: rgba($color-white, 0.8);
    margin-top: 2px;
    border-radius: 3px;
    .add-insurance-item {
      .upload-item {
        border-top: 0;
      }
      .insurance-item__wrapper {
        padding: 0 5px;
        flex-basis: 33.3%;
      }
      .text-light-grey {

        label {
          display: block;
          margin-bottom: 5px;
        }
        input {
          text-align: center;
          background: #f2f2f2;
        }
      }
    }
    .upload-item {
      list-style: none;
      display: flex;
      border-top: 1px #ebebeb solid;
      padding-bottom: 15px;
      flex-wrap: wrap;
      .text-center {
        flex-grow: 1;
        flex-basis: 25%;
        flex-shrink: 0;
        padding: 15px 5px 0;
        label {
          margin-bottom: 5px;
          display: block;
          white-space: nowrap;
        }
        input {
          background: #f2f2f2;
          text-align: center;
        }
      }
      .info-label {
        margin-top: 7px;
      }
      &:first-of-type {
        border-top: 0;
      }
      li {
        flex: 1;
      }
    }
  }

  .upload-section {
    margin-top: 2px;
    background: $color-white;
    border-radius: 3px;
    padding: 15px;
    &.placement-header {
      width: 100%;
    }
    .form-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    h6 {
      margin-bottom: 0;
      font-weight: 400;
      font-size: 1.4rem;
    }
    .radio-group {
      &__wrapper {
        display: flex;

        > label, > div {
          margin-right: 10px;
        }
      }
    }
    .btn-group {
      text-align: right;
      button {
        &:nth-of-type(2) {
          margin-left: 10px;
        }
      }
    }
    .radio-item {
      padding-left: 30px;
    }
    input[type="radio"] {
      display: none;
      & + label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        &:before, &:after {
          position: absolute;
          left: 0;
          top: 0;
        }
        &:before {
          content: ' ';
          width: 18px;
          height: 18px;
          border-radius: 50%;
          border: 1px #b7b7b7 solid;
          background: #ebebeb;
          opacity: 1;
        }
        &:after {
          content: '\f05d';
          font-family: $font-icon;
          opacity: 0;
          font-size: 2rem;
          line-height: 1.8rem;
          color: $green;
        }
      }
      &:checked {
        & + label {
          color: $blue;
          &:before {
            opacity: 0;
          }
          &:after {
            opacity: 1;
          }
        }
      }
    }
  }
}

//Contact Table
.table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  background: $color-white;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 3px;

  &-cell {
    width: 16.6%;
    min-width: 150px;
    border-right: 1px #d7d7d7 solid;
    border-top: 1px #d7d7d7 solid;
    padding: 10px;

    .note-view__wrapper {
      padding-right: 40px;
      position: relative;

      button {
        position: absolute;
        top: -8px;
        right: 0;
      }
    }

    &:last-of-type {
      border-right: 0;
    }
  }

  &-header {
    padding-top: 5px;
    padding-bottom: 12px;
    border-top: 0;
  }
}

//Toggle Allow Users Dropdown
.toggle-allow-users {
  position: relative;
  min-width: 200px;
  height: 37px;
  .dropdown {
    border-radius: 3px;
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    left: 50%;
    transform: $translateX;
    padding-top: 16px;
    margin-top: -15px;
    z-index: 1;
    .info-label span {
      padding-right: 14px;
      position: relative;
      &:after {
        content: '\f107';
        position: absolute;
        top: 2px;
        right: 0;
        font-family: $font-icon;
        color: $extra-light-grey;
      }
    }
    &.open {
      background: $color-white;
      box-shadow: 0px 1px 10px 0 #d6d6d6;
      .info-label span {
        &:after {
          transform: rotate(180deg);
        }
      }
    }
    &__wrapper {
      list-style: none;
      margin-top: 15px;
      padding-bottom: 15px;
      .allow-list {
        max-height: 225px;
        overflow-y: auto;
      }
      .allow-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 10px 5px 15px;
      }
    }
    &__header {
      cursor: pointer;
    }
    &__footer {
      display: flex;
      justify-content: space-between;
      padding-left: 5px;
      padding-right: 15px;
      padding-top: 10px;
      .btn-group {
        display: flex;
        .btn-prev, .btn-next {
          padding: 4px 9px;
          font-size: 1.4rem;
          background: #f2f1f1;
          border: 1px #e1e1e1 solid;
          color: #b7b7b7;
          margin-left: 10px;
          cursor: pointer;
          border-radius: 3px;
          &:hover {
            color: #838383
          }
        }
      }
      .right--side {
        padding-top: 5px;
      }
    }
  }
}

.create-facility {
  .insurance-block {
    margin-top: 20px;
  }
}