.home-container {
  padding-top: 19px;
  padding-right: 15px;
}

.dashboard-container{
  padding: 15px;
  width: 100%;
}

.dashboard-header-content{
  background-color: white;
  height: inherit;
  padding: 10px;
  width: 100%;
}

.select-box-width{
  width: 15%;
}

.dashboard-label{
  color: #929292;
  font-size: 14px;
}

.dashboard-content{
  background-color: white;
  padding: 10px;
  width: 100%;
}


