.home-container {
  padding-top: 19px;
  padding-right: 15px;
}

.dashboard-container{
  padding: 15px 10px;
}

.graph-container{
 width:50%;
 border-right:1px solid #d3d3d3;
}

.timeline-container{
width: 50%;

}

.line-chart{
  margin:20px 15px;
}

.d-header{
  display: inline-block;
  width:100%;
  padding: 5px;
}

.d-header-left{
  float: left;
  h2{
    margin-left: 10px;
  }
}

.d-header-right{
  float:right;
  padding-right: 10px;
  h2{
    margin-left: 10px;
  }
}


