.schedule-block {
    .new-section {        
        background: $color-white;
        border-radius: 3px;
        margin-top: 2px;
        padding: 40px 15px 25px;
        .text-label {
            padding: 0 15px;
            margin-bottom: 20px;
        }
        .btn-cancel {
            color: $red;
        }
        .btn-group {
            padding-top: 15px;
            display: flex;
            justify-content: space-between;
        }
        .form-wrapper {
            margin-bottom: 10px;
            position: relative;
            &:before {
                content: '\f107';
                font-family: $font-icon;
                position: absolute;
                top: 12px;
                right: 15px;
                color: $extra-light-grey;
            }
            select {
                background: #ebebeb;
                border-radius: 3px;
                border: 0;
                color: $light-grey;
            }
        }
    }

    .schedule-list {
        .schedule-item {
            background: $color-white;
            border-radius: 3px;
            margin-top: 2px;
            padding: 15px;
            display: flex;
            justify-content: space-between;
            .left__side {
                display: flex;
                padding-left: 20px;
            }
            .info {
                display: flex;
                flex-wrap: wrap;
                margin-right: 50px;
                padding-top: 12px;
                .info-label {
                    margin-left: 15px;
                }
            }
        }
        .btn-group {
            .btn-cancel {
                color: $red;
            }
        }
    }
}