.substates-container {
  .table {
    display: table;
    text-align: center;
    width: 100%;
    border-collapse: separate;
    font-weight: 400;
    padding: 0px;

    .table_row {
      display: table-row;
      > .table-small {
        max-width: 110px;
        padding: 7px;
        vertical-align: middle;
        > .table-cell {
          padding-bottom: 10px;
        }
        &:first-child {
          width: 50px;
        }
      }
      &.bg--yellow {
        background: rgba(255, 247, 153, 0.6);
      }
    }
    
    .theader {
      display: table-row;
    }
    
    .table-header {
      display: table-cell;
      border-bottom: #ccc 1px solid;
      border-top: #ccc 1px solid;
      padding-top: 15px;
      padding-bottom: 15px;
      border-right: #ccc 1px solid;
      font-size: 1.6rem;
    }
    
    .table-small {
      display: table-cell;
      border-bottom: 1px #d7d7d7 solid;
      border-right: 1px #d7d7d7 solid;
    }
    
    .check-item {
      top: 5px;
      position: inherit;
    }
  }
}