.select-tag__multi {
  .Select-menu-outer, .Select-menu {
    max-height: inherit
  }
}

.tag-content {
  .create-form {
    .select-group {
      border-top: 0;
    }

    .btn-group-1 {
      margin-top: 10px;
    }
  }

  &.main-content .main-content__header .title {
    text-transform: capitalize;
  }

  &.main-content .main-content__header .title {
    &:before {
      content: '\f02c';
      font-size: 2.2rem;
      top: 1px;
      color: #3cb877;
    }
  }

  .form-select__multi {
    .Select-control {
      border: transparent;
    }

    .Select.is-focused > .Select-control {
      box-shadow: none;
    }

  }

  .select__row {
    height: 32px;
    margin-bottom: 10px;
    padding-left: 10px;

    .check-item {
      position: relative;
      top: initial;
      left: initial;

      label {
        padding-left: 35px;

        &:before {
          position: absolute;
          left: 5px;
          top: 4px;
        }
      }
    }
  }
}

.action-table {
  border-radius: 3px;
  overflow: hidden;

  &__row {
    background: #f2f1f1;
    border-top: 1px #d7d7d7 solid;

    &:first-of-type {
      border-top: 0;
      background: $color-white;
    }
  }

  &__field {
    width: 50%;
    padding: 10px 15px;
    position: relative;

    &:first-of-type {
      line-height: 3.2rem;
      border-right: 1px #d7d7d7 solid;
      padding-left: 45px;
    }

    .check-item {
      top: 12px;
    }
  }

  &__header {
    line-height: 2rem;

    &:first-of-type {
      line-height: 2rem;
    }
  }
}

.js-toggle-dropdown {
  &.active {
    color: $green!important;
  }
}

.tag {
  &-dropdown {
    &__container {
      position: absolute;
      right: 0;
      top: 45px;
      background: $color-white;
      box-shadow: 0 1px 4px rgba(0,0,0,0.25);
      z-index: 1;
      border-radius: 3px;
      padding: 3px 0;
    }
  }

  &-caret {
    position: absolute;
    top: -10px;
    right: 12px;
    width: 18px;
    height: 10px;
    overflow: hidden;

    &__outer, &__inner {
      position: absolute;
      display: inline-block;
      margin-left: -1px;
    }

    &__outer {
      border-bottom: 10px solid rgba(0,0,0,0.1);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      height: auto;
      left: 0;
      top: 0;
      width: auto;
    }

    &__inner {
      top: 1px;
      left: 1px;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 9px solid $color-white;
    }
  }

  &-list {
    list-style: none;
  }

  &-item {
    padding: 3px 6px;

    > a {
      white-space: nowrap;
      padding: 10px 34px 10px 36px;
      position: relative;

      &:before {
        content: '\f008';
        font-family: $font-icon;
        position: absolute;
        top: 9px;
        left: 10px;
        color: $color-white;
        font-size: 1.2rem;
        border-radius: 50%;
        background: $extra-light-grey;
        padding: 2px 3px;
      }

      &:hover {
        background: #ebe9e9;
      }
    }

    &__active {
      > a {
        &:before {
          background: $green;
        }

        &:after {
          content: '\f057';
          font-family: $font-icon;
          position: absolute;
          top: 10px;
          right: 10px;
          color: $red;
          font-size: 1.6rem;
          line-height: 1.6rem;
        }

        &:hover {
          background: $color-white;
        }
      }
    }
  }
}

.tab-items-container {
  margin-left:15px;
  margin-top: 10px;
}



.tag-item-with-bg {
  display: inline-block;
  padding: 7px 12px;
  font-size: 80%;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 3px;
  background-color: #3cb877;
  margin-right: 5px;
  color: #ffffff;
}

.tag-inner-div{
  float: left;
}

.tag-edit-icon{
margin-top: -5px;
}

.no-tags-found{
  color: #949393;
  vertical-align: -webkit-baseline-middle;
  font-size: 13px;
}

.tags-icon{
  vertical-align: -webkit-baseline-middle;
  margin-right: 5px;
}

.module-tags {
  .list-item{
    height: 74px;
  }
  .item-name{
    text-transform: capitalize;
    font-weight: bold;
    margin-left: 5px;
    font-size: 16px;
  }

  .tag-icon{
    width:15px;
    height: 15px;
  }

  .icon-color{
    color: #3cb877;
  }
}

.tag-header{
  display: inline-block;
  width: 100%;
  padding-bottom: 10px !important;
}

.left{
  float: left;
}

.right{
  float: right;
}

.tag-header .btn-group button{
   margin-top: 0 !important;
   padding: 9px 20px;
}

.tag-module{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #000;
}