.tag-content {
  .create-form {
    .select-group {
      border-top: 0;
    }

    .btn-group-1 {
      margin-top: 10px;
      height: 40px;
      position: relative;
      
      button:last-of-type {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  &.main-content .main-content__header .title {
    &:before {
      content: '\f02c';
      font-size: 2.2rem;
      top: 1px;
    }
  }

  .form-select__multi {
    .Select-control {
      border: transparent;
    }

    .Select.is-focused > .Select-control {
      box-shadow: none;
    }

  }
}

.action-table {
  border-radius: 3px;
  overflow: hidden;

  &__row {
    background: #f2f1f1;
    border-top: 1px #d7d7d7 solid;

    &:first-of-type {
      border-top: 0;
      background: $color-white;
    }
  }

  &__field {
    width: 50%;
    padding: 10px 15px;
    position: relative;

    &:first-of-type {
      line-height: 4rem;
      border-right: 1px #d7d7d7 solid;
      padding-left: 45px;
    }

    .check-item {
      top: 17px;
    }
  }

  &__header {
    line-height: 2rem;

    &:first-of-type {
      line-height: 2rem;
    }
  }
}