html {
  box-sizing: border-box;
  font-size: $base-font-size;
  height: 100%;
  width: 100%;
  background-color: $color-page-bg;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $color-page-bg;
  font-family: $font-arial;
  color: $dark-grey;
  @include mds-font-size(14px, $base-line-height);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
  &:hover {

  }

  &:focus {
    outline: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0 0 10px
}

ul:not(.cc-custom-list) {
  margin: 0;
  padding: 0;
  list-style-position: inside;

  li {

  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h1 {
  @include mds-font-size($mds-heading-size-1);
}

h2 {
  @include mds-font-size($mds-heading-size-2);
}

h3 {
  @include mds-font-size($mds-heading-size-3);
}

h4 {
  @include mds-font-size($mds-heading-size-4);
}

h5 {
  @include mds-font-size($mds-heading-size-5);
}

h6 {
  @include mds-font-size($mds-heading-size-6);
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.img-circle {
  border-radius: 50%;
}

.text-blue {
  color: $blue;
}

.text-dark-grey {
  color: $dark-grey;
}

.text-light-grey {
  color: $light-grey;
}

.hidden {
  display: none
}